
<NavigationStack>
    <BaseContent>
        <button @onclick="()=>StartClicked(context)">Start</button>
    </BaseContent>
</NavigationStack>

@code {
    private void StartClicked(INavigationStack stack) {
        //push pages to the navigation stack
    }
}